
.nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 280px;
    align-items: center;

    &__item {
        color: $font-color-primary;
        font-size: $font-size-nav;
        text-decoration: none;
        position: relative;
        &:hover {
            color: $color-secondary;
            animation: toTop;
            animation-duration: 1s;
        }
    }

    animation-name: slideNav;
    animation-duration: 4s;
}

@keyframes slideNav {
    from {
        left: -999px;
        opacity: .1;
    }
    to {
        left: 0;
        opacity: 1;
    }
}